*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 100px 300px 100px ; 
    grid-template-rows: 100px 300px 100px;  
    .grid-item{
        border: 2px solid white;
        background-color: crimson;
    }
}