@font-face {
    font-family: SF pro display;
    src: url(./sf-pro-display_regular.woff2);
}

@font-face {
    font-family: SF pro text;
    src: url(./sf-pro-text_regular.woff2);
}


::-webkit-scrollbar {
    display: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#navbar{
    height: 40px;
    width: 100%;
    background-color: #1e2122;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

#navbar a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-family: SF pro display;
}

i{
    color: white;
    cursor: pointer;

}
#smallSection{
    height: 50px;
    width: 100%;
    background-color: #1d1e1f;
}

#smallSection p{
    color: white;
    text-align: center;
    line-height: 50px;
    font-family: SF pro display;
}

#smallSection a{
    color: #2997ff;
    text-decoration: none;
}

#mainSection{
    position: relative;
    width: 100%;
    height: 100vh;

}    

#hero img{
    width: 100%;
    
}

#bottomcenter{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}