* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.596);
}

.card {
    height: 100%;
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.animalCard {
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    cursor:pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.animalCard:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}

.animalCard img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.animalCard h3 {
    color: white;
}

.animalCard i {
    color: red;
}

.animalCard .bottom {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 25%;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0.4),
            transparent);

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 15px;

    transition: bottom 0.8s ease;
}

/* .animalCard .bottom {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 40%;

    background: linear-gradient(
        120deg,
        rgba(255, 0, 128, 0.75),
        rgba(0, 128, 255, 0.75),
        rgba(0, 0, 0, 0.8)
    );
    background-size: 200% 200%;
    animation: gradientMove 4s ease infinite;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    transition: bottom 0.4s ease;
} */

/* @keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */


.animalCard:hover .bottom {
    bottom: 0;
}

/* .animalCard h3 {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.animalCard i {
    color: white;
    font-size: 22px;
} */


.animalCard h3 {
    color: white;
    font-size: 18px;
}

.animalCard i {
    color: white;
    font-size: 20px;
    background-color: rgb(255, 0, 0);
    padding: 4px;
    border-radius: 50%;
}

.animalCard i:hover {
    color: red;
    background-color: rgb(255, 255, 255);
}