@font-face {
    font-family: gridPratice;
    src: url(./NeueMachina-Light_gwWCZxVuQl.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

@mixin center($backcolor, $color, $textcolor){
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $backcolor;
    color: $color;
    text-color: $textcolor;
}

main{
    height: 100%;
    width: 100%;
    @include center(black);    

    section{
        height: 50%;
        width: 50%;
        @include center(white);

        h1{
            @include center(red, white);
            font-size: 100px;
            font-weight: 800;
            font-family: gridPratice;
        }
    }
}