*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#parent{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    gap: 20px;
    
}

.box{
    height: 100px;
    width: 100px;
    background-color: teal;
    border: 2px solid white;

}