*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#box1{
    height: 200px;
    width: 500px;
    background-color: gold;
    flex-shrink: 0;
}

#box2{
    height: 200px;
    width: 500px;
    background-color: crimson;
    flex-shrink: 0;
}

#box3{
    height: 200px;
    width: 500px;
    background-color: royalblue;
    flex-shrink: 0;
}