@font-face {
    font-family: personName;
    src: url(./NeueMachina-Light_gwWCZxVuQl.ttf);
}

@font-face {
    font-family: personAge;
    src: url(./Simple\ Number.ttf);
}

@font-face {
    font-family: personOccupation;
    src: url(./OpenSans-Italic.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightseagreen;
}

#profileCard{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

.card{
    height: 350px;
    width: 250px;
    background-color: white;    
    border: 2px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.card img{
    object-fit: cover;
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
    height: 200px;
    width: 200px;
}

.card h2{
    margin-top: 10px;
    font-size: 20px;  
    font-weight: 400;
    line-height: 1.3;
    padding: 0 10px;
    color: teal;
    font-family: personName;

}

.card p{
    margin-top: 5px;
    font-weight: 300;
    color: red;
    font-family: personAge;
}

.card h4{
    margin-top: 6px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    padding: 0 10px;
    word-wrap: break-word;
    color: gray;
    font-family: personOccupation;
}