*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    margin-left: 2px;
}

#outer{
    height: 30vh;
    width: 30vw;
    background-color: crimson;
}

#inner{
    height: 10vh;
    width: 10vh;
    background-color: darkblue;
}

h1{
    font-size: 400%;
    font-weight: 600;

}